body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:872px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8884 {
  position:absolute;
  left:16px;
  top:20px;
  width:858px;
  height:396px;
}
#u8885_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
}
#u8885 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u8886 {
  position:absolute;
  left:2px;
  top:6px;
  width:189px;
  word-wrap:break-word;
}
#u8887_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
}
#u8887 {
  position:absolute;
  left:193px;
  top:0px;
  width:193px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u8888 {
  position:absolute;
  left:2px;
  top:6px;
  width:189px;
  word-wrap:break-word;
}
#u8889_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
}
#u8889 {
  position:absolute;
  left:386px;
  top:0px;
  width:193px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u8890 {
  position:absolute;
  left:2px;
  top:6px;
  width:189px;
  word-wrap:break-word;
}
#u8891_img {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:30px;
}
#u8891 {
  position:absolute;
  left:579px;
  top:0px;
  width:274px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u8892 {
  position:absolute;
  left:2px;
  top:6px;
  width:270px;
  word-wrap:break-word;
}
#u8893_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:124px;
}
#u8893 {
  position:absolute;
  left:0px;
  top:30px;
  width:193px;
  height:124px;
}
#u8894 {
  position:absolute;
  left:2px;
  top:54px;
  width:189px;
  word-wrap:break-word;
}
#u8895_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:124px;
}
#u8895 {
  position:absolute;
  left:193px;
  top:30px;
  width:193px;
  height:124px;
}
#u8896 {
  position:absolute;
  left:2px;
  top:54px;
  width:189px;
  word-wrap:break-word;
}
#u8897_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:124px;
}
#u8897 {
  position:absolute;
  left:386px;
  top:30px;
  width:193px;
  height:124px;
}
#u8898 {
  position:absolute;
  left:2px;
  top:46px;
  width:189px;
  word-wrap:break-word;
}
#u8899_img {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:124px;
}
#u8899 {
  position:absolute;
  left:579px;
  top:30px;
  width:274px;
  height:124px;
}
#u8900 {
  position:absolute;
  left:2px;
  top:54px;
  width:270px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8901_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:237px;
}
#u8901 {
  position:absolute;
  left:0px;
  top:154px;
  width:193px;
  height:237px;
}
#u8902 {
  position:absolute;
  left:2px;
  top:110px;
  width:189px;
  word-wrap:break-word;
}
#u8903_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:237px;
}
#u8903 {
  position:absolute;
  left:193px;
  top:154px;
  width:193px;
  height:237px;
}
#u8904 {
  position:absolute;
  left:2px;
  top:110px;
  width:189px;
  word-wrap:break-word;
}
#u8905_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:237px;
}
#u8905 {
  position:absolute;
  left:386px;
  top:154px;
  width:193px;
  height:237px;
}
#u8906 {
  position:absolute;
  left:2px;
  top:110px;
  width:189px;
  word-wrap:break-word;
}
#u8907_img {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:237px;
}
#u8907 {
  position:absolute;
  left:579px;
  top:154px;
  width:274px;
  height:237px;
}
#u8908 {
  position:absolute;
  left:2px;
  top:110px;
  width:270px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8909_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8909 {
  position:absolute;
  left:610px;
  top:59px;
  width:230px;
  height:88px;
}
#u8910 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  word-wrap:break-word;
}
#u8911_div {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:158px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8911 {
  position:absolute;
  left:605px;
  top:185px;
  width:267px;
  height:158px;
}
#u8912 {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  word-wrap:break-word;
}
